<div class="opinion_item d-flex flex-row py-2">
  <%= notification_icon data %>    
  <div class="opinion-info d-flex flex-column ml-3">
    <%= link_to data.title, "#", class: '' %>
    <p>
      <%= data.content %>
    </p>
  </div>
</div>