// Place all the styles related to the opinions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$color_1: #213246;
$color_4: #1f2c3a96;
$color_2: #f5f6f8;
$color_5: #9b9b9b;
$color_6: rgb(216, 216, 216);
$color_3: #4c9bd6;
$color_7: #4c9ad62a;

.content {
  flex: 2;
  background-color: $color_2;
}

.left_nav_container {
  height: 100vh;
  width: 300px;
}

.left_nav {
  height: 100vh;
  position: fixed;
  width: 300px;
  background-color: $color_1;

  .profile {
    height: 80px;
    border-bottom: 2px solid $color_4;

    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 15px;
      font-weight: 700;
      color: $color_5;
    }
  }

  .profile-info {
    border-bottom: 2px solid $color_4;

    div {
      flex: 1;

      span {
        color: $color_6;
        font-size: 15px;
        font-weight: 700;
      }

      small {
        color: $color_5;
      }

      &:nth-of-type(1) {
        border-right: 2px solid $color_4;
      }
    }
  }

  .menu {
    .menu_item {
      cursor: pointer;
      border-bottom: 1px solid $color_4;

      a,
      i {
        color: white;
        text-decoration: none;
        font-weight: 600;
      }

      &:hover {
        background-color: $color_7;
      }
    }

    .menu_item.active {
      background-color: $color_3;
    }
  }
}

.top_nav {
  background-color: $color_3;

  .logo {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }

  .menu-icon {
    color: white;
    font-size: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;

    .icon-bell {
      font-weight: 800;
    }

    &:hover {
      background-color: rgba(33, 87, 187, 0.185);
    }
  }
}

.main-content {
  // height: calc(100vh - 80px);

  .tweets {
    flex: 2;

    .tweets_content {
      // height: 100%;
      border-right: 1px solid $color_6;

      .add_tweet {
        background-color: white;
        border-radius: 10px;

        label {
          font-size: 13px;
          font-weight: 500;
          color: $color_5;
        }

        .action {
          position: relative;
        }
      }

      .tweet_list {
        background-color: white;
        border-radius: 10px;
        flex: 2;

        .title {
          font-size: 15px;
          font-weight: 600;
          color: $color_3;
        }

        .line {
          border-bottom: 1px solid $color_6;
        }

        .list {
          // max-height: 300px;
          // overflow-y: scroll;
        }
      }
    }
  }

  .post_buttton {
    // display: none;
    border: 0;
    background-color: $color_3;
    color: white;
    float: right;
  }

  .textarea {
    height: 50px;
    border: 1px solid $color_6;
    color: $color_5;
  }

  .textarea:focus {
    height: 100px;
    outline: none;
  }

  .opinion_item {
    .opinion-info {
      a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 800;
        color: $color_5;
      }

      p {
        color: rgb(165, 165, 165);
        font-size: 14px;
      }
    }
  }

  .user_item {
    .user-info {
      a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 800;
        color: rgb(139, 139, 139);
      }

      small {
        color: rgb(165, 165, 165);
        font-size: 14px;
      }
    }
  }

  .header {
    border-bottom: 1px solid $color_6;
    padding: 26px 0;
    border-right: 1px solid $color_6;

    .header-text {
      font-size: 15px;
      font-weight: 600;
      color: $color_5;
    }
  }

  .user-to-follow {
    width: 380px;

    .user-profile-div {
      .profile {
        height: 225px;

        span {
          font-size: 15px;
          color: #505050;
          font-weight: 700;
        }
      }
    }

    .profile-info {
      border-top: 1px solid $color_6;
      border-bottom: 1px solid $color_6;

      div {
        flex: 1;

        span {
          color: $color_5;
          font-size: 15px;
          font-weight: 700;
        }

        small {
          color: $color_5;
        }

        &:nth-of-type(1),
        &:nth-of-type(2) {
          border-right: 1px solid $color_6;
        }
      }
    }
  }
}

.header-scrolled {
  position: fixed;
  margin-top: 0 !important;
  right: 0;
  left: 300px;
  top: 0;
  z-index: 1;
  transition: all 3s ease-in-out;
}

.cover_image {
  position: relative;
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    object-fit: cover;
    position: absolute;
  }

  .space {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;

    &:hover {
      background-color: rgba(73, 73, 73, 0.527);
    }
  }
}

.upload_cover_buttton {
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

.left_nav_p_image {
  width: 50px;
  height: 50px;
  border: 2px solid $color_3;
  border-radius: 9px;
  color: $color_5;
  object-fit: cover;
}

.item_p_image {
  width: 50px;
  height: 50px;
  border-radius: 9px;
  color: $color_5;
  object-fit: cover;
}

.user_item_p_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: $color_5;
  object-fit: cover;
}

.no_data {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: rgb(156, 156, 156);

  &::before,
  &::after {
    content: '----';
  }
}
